.mud-navmenu {
    color: #f8f1e5;
}

.mud-navmenu .mud-nav-link {
    border-radius: 10px;
    margin-bottom: 0.4rem;
}

.mud-navmenu .mud-nav-link.active {
    background-color: rgba(248, 241, 229, 0.2);
}

.mud-navmenu .mud-nav-link:hover {
    background-color: rgba(248, 241, 229, 0.15);
}

.mud-nav-link .mud-nav-link-icon,
.mud-nav-link .mud-nav-link-text,
.mud-primary-text {
    color: #f8f1e5 !important;
}
